apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: phamhoangkha1403/demo-app@sha256:46c7d7491a724ea7168074ac54a91722762f3663a6052386d4fd2e9477b7861d
          ports:
            - containerPort: 80
