apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: phamhoangkha1403/demo-app@sha256:2cdaa9caa1fe1fd9a78fe2bec548032c8618839a44de0d452a5a3a41dce05047
          ports:
            - containerPort: 80
